
html, body {
	height: 100%;
	touch-action: manipulation;
}

body {
	display: flex;
	align-items: center;
	margin: 0;
	overflow: hidden;
}

body.loading #loader {
	opacity: 1;
	pointer-events: all;
}

#loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #232323;
	opacity: 0;
	transition: opacity .3s;
	pointer-events: none;
}

#scene {
	/* max-width: 100%; */
	margin: 0 auto;
}